html, body {
    background-image: url("images/background.png");
    background-size: 200px;
    background-color: #ecfcec;
    height: 100%;
    margin: 0;
}

#selectPokemon {
    height: 95%;
    width: 500px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

.scrollArrow {
    width: 40px;
    height: auto;
    border: 1px solid #000000;
    cursor: pointer;
}

.scrollArrowDown {
    transform: rotate(180deg);
}

#selectPokemonList {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow-y: auto;

    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
}
#selectPokemonList::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.pokemonChoiceImg {
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -4px;
    padding: 1px;
    background-color: #ffffff;
    margin: 10px 20px 10px 20px;
}

#selectPokemonTextBox {
    margin-top: 10px;
    padding-left: 30px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}

.selectPokemonTextBoxImg {
    width: 400px;
    height: auto;
}

.pokemonIsAvailable {
    cursor: pointer;
}

.pokemonIsNotAvailable {
    opacity: 50%;
}

#selectPokemonTextBoxArrow {
    width: 20px;
    height: auto;
    position: relative;
    bottom: 0;
    right: 35px;
}



/* ABOVE: select pokemon window */
/* BELOW: pokemon chat window */

#pokemonChat {
    border: 1px solid #ff0000;
    
    height: 90%;
    width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 30px;
}

#connectedPokemon {
    border: 1px solid #00ff00;

    width: 33.3%;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}

#connectedPokemonList {
    border: 1px solid rgb(148, 0, 161);

    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow-y: auto;

    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
#connectedPokemonList::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#chatWindow {
    border: 1px solid #0000ff;
    width: 66.6%;
    height: 100%;
    margin-bottom: 20px;
}

#chatWindowMessages {
    border: 1px solid #ff9300;
}

#chatWindowText {
    border: 1px solid #EC00FF;
    
    height: 80px;
    display: flex;
    justify-content: space-between;
}
