body {
    background-image: url("images/background.png");
    background-size: 200px;
    background-color: #ecfcec;
}

#selectPokemon {
    border: 1px solid #ff0000; /* deletelater */
    height: 100%;
    width: 33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollArrow {
    width: 40px;
    height: auto;
    border: 1px solid #000000;
    cursor: pointer;
}

.scrollArrowDown {
    transform: rotate(180deg);
}

#selectPokemonListBox {
    border: 1px solid #00ff00; /* deletelater */
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    width: 400px;
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    overflow-y: auto;
}

#selectPokemonListBox::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
  
#selectPokemonListBox {
-ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

#selectPokemonTextBox {
    border: 1px solid #0000ff; /* deletelater */
    position: fixed;
    bottom: 20px;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}

.selectPokemonTextImg {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: auto;
}

.pokemonChoiceImg {
    width: 70px;
    height: 70px;

    border: 1px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -4px;

    background-color: #ffffff;
    margin: 10px 20px 10px 20px;
}

.pokemonIsAvailable {
    cursor: pointer;
}

.pokemonIsNotAvailable {
    opacity: 50%;
}

#selectPokemonTextBoxArrow {
    width: 20px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 15px;
}