html, body {
    background-image: url("images/background.png");
    background-size: 200px;
    background-color: #eaffe9;
    height: 100%;
    margin: 0;
}

#selectPokemon {
    height: 95%;
    width: 500px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

.scrollArrow {
    width: 40px;
    height: auto;
    border: 1px solid #000000;
    cursor: pointer;
}
.scrollArrowDown {
    transform: rotate(180deg);
}

#selectPokemonList {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow-y: auto;

    scrollbar-width: none;  /* Hide scrollbar: Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar: IE, Edge */
}
#selectPokemonList::-webkit-scrollbar {
    display: none; /* Hide scrollbar: Chrome, Safari, Opera */
}

.pokemonImgLarge {
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -4px;
    padding: 1px;
    background-color: #ffffff;
    margin: 10px 20px 10px 20px;
}

#selectPokemonTextBox {
    margin-top: 10px;
    padding-left: 30px;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10, IE 11 */
}

.selectPokemonTextBoxImg {
    width: 400px;
    height: auto;
}

.pokemonIsAvailable {
    cursor: pointer;
}
.pokemonIsNotAvailable {
    opacity: 50%;
}

#selectPokemonTextBoxArrow {
    position: relative;
    bottom: 0;
    right: 35px;
    width: 20px;
    height: auto;
}

#joinRejectPopup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;

    background-color: #ffffff;
    border: 1px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -4px;
    padding: 10px;
    cursor: pointer;
}
#joinRejectContent {
    position: relative;
    top: 30%;
    text-align: center;
}


/* ABOVE: select pokemon window */
/* BELOW: pokemon chat window */


#pokemonChat {        
    height: 90%;
    width: 1000px;
    display: none;
    margin: 0 auto;
    align-items: center;
    padding-top: 30px;
}

#connectedPokemon {
    position: relative;
    width: 35%;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}

#connectedPokemonList {
    width: 100%;
    height: calc(100% - 130px);
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-y: auto;

    scrollbar-width: none; /* Hide scrollbar: Firefox */
    -ms-overflow-style: none; /* Hide scrollbar: IE, Edge */
}
#connectedPokemonList::-webkit-scrollbar {
    display: none; /* Hide scrollbar: Chrome, Safari, Opera */
}

#scrollConnectedPokemonListArrowDown {
    position: absolute;
    bottom: 29px;
    left: calc(50% - 21px);
}

#chatWindow {
    position: relative;
    width: 65%;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

#chatWindowMessages {
    border: 2px solid #000000;

    height: calc(100% - 90px);
    background-color: #ffffff;

    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar: Firefox */
    -ms-overflow-style: none; /* Hide scrollbar: IE, Edge */
}
#chatWindowMessages::-webkit-scrollbar {
    display: none; /* Hide scrollbar: Chrome, Safari, Opera */
}

#scrollChatArrowUp {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 40px;
    height: auto;
    cursor: pointer;
}
#scrollChatArrowDown {
    position: absolute;
    right: 12px;
    bottom: 102px;
    width: 40px;
    height: auto;
    cursor: pointer;
    transform: rotate(180deg);
}

.updateMessage {
    font-style: italic;
}

#chatWindowText {    
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#chatWindowTextIconInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#chatInput {
    width: 430px;
    height: 55px;
    padding: 10px 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    resize: none;
}

.chatMessage {
    display: flex;
    justify-content: flex-start;
    margin: 10px 60px 10px 10px;
}

.newChatMessageImg {
    display: flex;
}

.pokemonImgSmall {
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.newChatMessageText {
    margin-left: 10px;
    width: 90%;
}

.chatMessageTextArea {
    white-space: pre-line;
    overflow-wrap: break-word;
}
